body {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
    height: 130px;
    background-color: blue;
}

header h1 {
  margin: auto;
}

.slideshow {
  align-items: center;
  border-radius: 10px;
  max-width: 300px;
  height: 200px;
  margin: auto;
  border: 1px solid black;
  background: linear-gradient(90deg, #FFFE02, #9B4D0D, #FFFE02, #FDFCF9, #F7FA03);
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 6px #FDFCF9;
}

.slideshow img {
  
  padding-top: 10px;
  margin: auto;
  border-radius: 15px;
  width: 95%;
  height: 165px;
  display: none;
}

.slideshow img.active {
  display: block;
}

.slideshow-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.slideshow-pagination span {
  width: 10px;
  height: 10px;
  background-color: white;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.slideshow-pagination span.active {
  background-color: orange;
}




.slider {
    display: flex;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    height: 80px;
}

.slide:nth-child(1) {
    background-color: red;
}

.slide:nth-child(2) {
    background-color: green;
}

.slide:nth-child(3) {
    background-color: yellow;
}

.slide:nth-child(4) {
    background-color: orange;
}

.slide:nth-child(5) {
    background-color: purple;
}
.slider2 {
    display: flex;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.slide2 {
    flex: 0 0 100%;
    scroll-snap-align: start;
    height: 80px;
}

.slide2:nth-child(1) {
    background-color: red;
}

.slide2:nth-child(2) {
    background-color: green;
}

.slide2:nth-child(3) {
    background-color: yellow;
}

.slide2:nth-child(4) {
    background-color: orange;
}

.slide2:nth-child(5) {
    background-color: purple;
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    margin: 20px;
    background-color: gray;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
.button2 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    margin: 20px;
    background-color: gray;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
#preco1 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    margin: 20px;
    background-color: lightgreen;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
#preco2 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    margin: 20px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
#preco3 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    margin: 20px;
    background-color: orange;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
#preco4 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    margin: 20px;
    background-color: purple;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.mastergrid{  margin-bottom: 50px;
    display: flex;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
}

.grid-container {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
.show {
  display: block;
}
.destacado {
  background-color: yellow;
}

.hidden {
  display: none;
}
  /* Adicione a media query para dispositivos móveis */
@media screen and (max-width: 600px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1000px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .preco1 {
    width: 160px;
    background-color: lightgreen;
    border-radius: 10px;
    border: 2px solid lightgreen;
    margin-top: 10px;
    text-align: center;
  }
  
  .preco1 a {
    border-radius: 10px;
    background-color: lightgreen;
    color: white;
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .preco1 img {
    margin-top: 10px;
    border-radius: 20px;
    height: 145px;
    width: 145px;
    
  }
  
  .preco1 p {
    color: white;
    margin-top: 10px;
  }
   
  .preco2 {
    width: 160px;
    background-color: blue;
    border-radius: 10px;
    border: 2px solid blue;
    margin-top: 10px;
    text-align: center;
  }
  
  .preco2 a {
    border-radius: 10px;
    background-color: blue;
    color: white;
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .preco2 img {
    margin-top: 10px;
    border-radius: 20px;
    height: 145px;
    width: 145px;
    
  }
  
  .preco2 p {
    color: white;
    margin-top: 10px;
  }

  
  .preco3 {
    width: 160px;
    background-color: orange;
    border-radius: 10px;
    border: 2px solid orange;
    margin-top: 10px;
    text-align: center;
  }
  
  .preco3 a {
    border-radius: 10px;
    background-color: orange;
    color: white;
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .preco3 img {
    margin-top: 10px;
    border-radius: 20px;
    height: 145px;
    width: 145px;
    
  }
  
  .preco3 p {
    color: white;
    margin-top: 10px;
  }


  .preco4 {
    width: 160px;
    background-color: purple;
    border-radius: 10px;
    border: 2px solid purple;
    margin-top: 10px;
    text-align: center;
  }
  
  .preco4 a {
    border-radius: 10px;
    background-color: purple;
    color: white;
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .preco4 img {
    margin-top: 10px;
    border-radius: 20px;
    height: 145px;
    width: 145px;
    
  }
  
  .preco4 p {
    color: white;
    margin-top: 10px;
  }


  
  footer {
    background-color: blue;
    color: white;
    padding: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col {
    flex-basis: 30%;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul.footer-links li {
    margin-bottom: 10px;
  }
  
  ul.footer-social-links li {
    margin-bottom: 10px;
  }
  
  a.footer-link,
  a.footer-social-link {
    color: white;
    text-decoration: none;
  }
  
  a.footer-link:hover,
  a.footer-social-link:hover {
    text-decoration: underline;
  }
  