body {
    margin: 0;
    padding: 0;
}

header {

    height: 150px;
    background-color: blue;
}



.slider {
    display: flex;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    height: 80px;
}

.slide:nth-child(1) {
    background-color: red;
}

.slide:nth-child(2) {
    background-color: green;
}

.slide:nth-child(3) {
    background-color: yellow;
}

.slide:nth-child(4) {
    background-color: orange;
}

.slide:nth-child(5) {
    background-color: purple;
}
.slider2 {
    display: flex;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.slide2 {
    flex: 0 0 100%;
    scroll-snap-align: start;
    height: 80px;
}

.slide2:nth-child(1) {
    background-color: red;
}

.slide2:nth-child(2) {
    background-color: green;
}

.slide2:nth-child(3) {
    background-color: yellow;
}

.slide2:nth-child(4) {
    background-color: orange;
}

.slide2:nth-child(5) {
    background-color: purple;
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100vw;
    background-color: gray;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .grid-item {
    background-color: orange;
    border-radius: 10px;
    border: 2px solid orange;
    margin-top: 10px;
    text-align: center;
  }
  
  .grid-item a {
    background-color: orange;
    color: white;
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .grid-item img {
    margin-top: 10px;
    border-radius: 20px;
    height: 200px;
    width: 250px;
    height: auto;
  }
  
  .grid-item p {
    margin-top: 10px;
  }
  